Source: remind-email
Section: main
Priority: optional
Maintainer: Viacheslav Chimishuk <vchimishuk@yandex.ru>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.4
Homepage: https://github.com/vchimishuk/remind-email

Package: remind-email
Architecture: all
Depends: python3, remind, msmtp
Description: send reminds produced by remind command via email
